.skills
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.skills h1{
    text-align: center;
    padding-top: 2rem;
}

.cards
{
    background-color: #ECEBEB;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.cards h4{
    flex-wrap: text;
    display: flex;
    flex: 1;
}

.cards p
{
    display: flex;
    flex: 2;
}