.hero {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
}

.hero__image img {
        width: 356px;
        height: auto;
        border-radius: 32px;
}

.hero__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
}

.hero__header h1 {
        padding-bottom: 2rem;
        font-size: 32pt;
}

.hero__header p
{
        line-height: 2rem;
        font-size: 14pt;
}

.hero__button {
        gap: 1rem;
        display: flex;
        align-items: center;
}

.hero__button a {
        align-items: center;
}

@media screen and (max-width:600px) {
        .hero {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                align-items: center;
                justify-content: center;
        }

        .hero__text {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
                justify-content: center;
        }

        .hero__header h1 {
                padding-bottom: 2rem;
        }

        .hero__button {
                gap: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
        }

        .hero__button a {
                align-items: center;
        }
}

@media screen and (max-width:992px) {
        .hero {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                align-items: center;
                justify-content: center;
        }

        .hero__text {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
                justify-content: center;
        }

        .hero__header h1 {
                padding-bottom: 2rem;
        }

        .hero__button {
                gap: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
        }

        .hero__button a {
                align-items: center;
        }
}





























.heartbeat {
        -webkit-animation: heartbeat 3s ease-in-out infinite both;
        animation: heartbeat 3s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}